@charset "UTF-8"; 
/*form*/
.rboard_form{margin: auto;}
fieldset{border: none;}
/*reply_user*/
.rboard_user{
    margin: 10px 0px; 
    width: 95%; max-width: 800px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}
/*reply_content*/
.rboard_txt{width: 95%;max-width: 800px;}
textarea{
    resize: none; 
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 0.5px solid lightgray;
    border-radius: 5px;
}
.rboard_txt div{
    display: flex; 
    justify-content: 
    flex-end; 
    margin-right: 5px;
    color: darkgray;
    font-size: 10pt;
}
