@charset "utf-8";
.content_wrap{margin-top: 5px;}
.content_group{text-align: center; margin-top: 20px;}
.font_mid{
	font-size: 16pt;
	padding-bottom: 30px;}

/* user infomation */
.user_info{padding: 10px; margin: 20px auto;}
.user_info div input{background-color: transparent;}
.user_info div input:nth-of-type(2){margin-bottom: 20px;}
.user_info::after,.user_info_d::after{
    content:""; 
    width: 70%; 
    display:block; 
    border-bottom: 1px solid #e6e6e6;
    margin: 30px auto 50px;
}

/* small button */
.button_small{margin-top:30px;}

/* last infomation */
.user_info_d{padding: 10px;}
.user_info_d div input{background-color: transparent;}
.user_info_d div input:nth-of-type(2){margin-bottom: 20px;}

/*menu*/
.my_menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 90%;
}
.my_menu:after{
    content: "";
    border-bottom: 1px solid whitesmoke;
}
.my_menu>li{
    font-size: 13pt;
    color:gray;
    padding-right: 20px;
}
.my_menu a:hover{
    color: var(--accent-color);
}

.sec_btn{
	width:100px;
	height : 40px;
	border-radius: 2px;
	border: none;
	background-color: white;
	
}

.sec_btn:hover{
	color: red;
}


/*-----------------------------------------*/
/*태블릿 이하 사이즈*/
@media screen and (max-width: 768px){
    .content_wrap{margin-top: 5px;}
}